* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
}
body {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}
.app {
  background-color: #fafafa;
  min-height: 100vh;
}
.app__header {
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 54px;
  display: flex;
  align-items: center;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  background: rgb(50,72,148);
  background: -moz-linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  background: linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#324894",endColorstr="#43bc93",GradientType=1);
}

.appLogo{
  font-family: 'Roboto', sans-serif;
  width: 200px;
  color: white;
}

.appLogoColor{
  font-family: 'Roboto', sans-serif;
  width: 200px;
  height: 30px;
  padding: 5px;
  color: white;
  background: rgb(50,72,148);
  background: -moz-linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  background: linear-gradient(90deg, rgba(50,72,148,1) 0%, rgba(61,137,160,1) 50%, rgba(67,188,147,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#324894",endColorstr="#43bc93",GradientType=1);
}

.app__headerWrapper {
  max-width: 975px;
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.app__headerButtons {
  display: flex;
  column-gap: 15px;
}
button {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
}
.primary__button {
  background-color: rgb(50,72,148);
  border-radius: 4px;
  color: #fff;
  padding: 5px 9px;
  font-weight: 600;
  text-align: center;
}

.primary__button2 {
  background-color: #8b8b8b;
  border-radius: 4px;
  color: #fff;
  cursor: not-allowed !important;
  padding: 5px 9px;
  font-weight: 600;
  text-align: center;
}

.text__button {
  color: #FFFFFF;
  font-weight: 600;
  line-height: 28px;
  background-color: transparent;
}
.app__signUp {
  display: flex;
  flex-direction: column;
  margin: 28px 0;
  row-gap: 15px;
}

.timeline {
  margin: 0 auto;
  max-width: 500px;
  padding: 20px;
}

button {
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  border: 1px solid transparent;
}

.primary__button {
  background-color: rgb(50,72,148);
  border-radius: 4px;
  color: #fff;
  padding: 5px 9px;
  font-weight: 600;
  text-align: center;
}

.text__button {
  color: #ffffff;
  font-weight: 600;
  line-height: 28px;
  background-color: transparent;
}

.app__signUp {
  display: flex;
  flex-direction: column;
  margin: 28px 0;
  row-gap: 15px;
}

input {
  padding: 5px 9px;
  line-height: 18px;
  outline: none;
  border: 1px solid lightgray;
  border-radius: 3px;
}

input:focus {
  border: 1px solid gainsboro;
}

.authFooter {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.authFooter small {
  color: rgb(172, 172, 172);
}

.authFooter hr {
  border: 0;
  border-top: 1px solid;
  border-color: lightgray;
}

.authFooter a {
  color: #0095f6;
}
